/* GLOBAL RULES */
body {
  background: #efefef;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  margin-top: 50px;
}

section {
  background-color: white;
  padding: 60px 30px;

  border-radius: 20px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}

H1 {
  font-size: 50px;
  text-align: center;
  color: #393c6c;
}
h2 {
  margin-bottom: 20px;
  margin-top: 70px;
  font-size: 30px;
  color: #f3735f;
}

h3 {
  line-height: 22px;
  font-size: 18px;
  color: #35006e;
}

header {
  background-color: #ffffff;
  height: 80px;
  border-bottom: 1px solid #f3735f;
}

header img {
  height: 30px;
  margin-top: 25px;
}

.button {
  background-color: #8b8eab;
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
  background: rgb(110, 110, 137);
  color: white;
  width: 20%;

  margin: 30px auto;
  padding: 10px;
  text-align: center;
}

.images img {
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-left: 58px;
  object-fit: cover;
  border-radius: 20px;
}

footer {
  text-align: center;
}
